h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
button > img {
    height: 200px;
    width: auto;
}

button {
    margin: 10px;
    cursor: pointer;
}

#buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttons-row {
    display: flex;
}

.correct {
    border: 6px solid green;
}

.wrong {
    border: 6px solid red;
}