<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanji Quiz</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1 id="keyword"></h1>
    <div id="buttons">
        <div class="buttons-row">
            <button id="a"><img></button>
            <button id="b"><img></button>
            <button id="c"><img></button>
        </div>
        <div class="buttons-row">
            <button id="d"><img></button>
            <button id="e"><img></button>
            <button id="f"><img></button>
        </div>
        <div class="buttons-row">
            <button id="g"><img></button>
            <button id="h"><img></button>
            <button id="i"><img></button>
        </div>
    </div>
    <script src="/static/script.js"></script>
</body>

</html>